<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".CharacterReviewActivity"
            android:exported="true"
            android:label="Animation QA"
            android:theme="@style/Theme.ZeroToEmpire">
            <!-- Debug build only: open without adb or a PC on an Android phone. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".SmokeSeedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zerotoempire.game.DEBUG_SMOKE_SEED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
